@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply font-roboto
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  @apply bg-neutral;
}

/* Define the styles for the scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-content;
}

/* Define the styles for the scrollbar track (the background) */
::-webkit-scrollbar-track {
  border-radius: 6px;
  @apply bg-neutral-focus;
}


.btn {
  text-transform: unset;
}

/* .workspace {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: calc(100vh - 70px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}

.workspace>div {
  display: block;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
  padding: 0 6px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 290px;
} */

.workplace-container {
  width: 100%;
  padding: 8px;
  /* height: calc(100vh - 72px); */
  /* position: relative; */
  /* overflow-y: hidden;
  overflow-x: auto; */
}

.workplace {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 12px;
  /* overflow-y: hidden; */
  /* cause */
}

.workplace-col {
  flex: 0 0 290px;
  max-width: 290px;
  height: 100%;
}

.tasks {
  @apply mt-5 space-y-2 overflow-y-auto;
  max-height: calc(100vh - 230px);
}