@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  @apply bg-neutral;
}

/* Define the styles for the scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-content;
}

/* Define the styles for the scrollbar track (the background) */
::-webkit-scrollbar-track {
  border-radius: 6px;
  @apply bg-neutral-focus;
}


.btn {
  text-transform: unset;
}

.workspace {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: calc(100vh - 70px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}

.workspace>div {
  display: block;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
  padding: 0 6px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 290px;
}