@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  text-transform: unset;
}

.workspace {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: calc(100vh - 66px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}

.workspace>li {
  display: block;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
  padding: 0 6px;
}

.workspace>li>div {
  width: 270px;
}